<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>614716026578-4c3cp2ifl368huf36lklv2s89r3gd3v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614716026578-4c3cp2ifl368huf36lklv2s89r3gd3v3</string>
	<key>API_KEY</key>
	<string>AIzaSyBjDXtVdqxOO38LA3B8uejE5TbM1t3Xbm8</string>
	<key>GCM_SENDER_ID</key>
	<string>614716026578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.prudhvi.KoreBank</string>
	<key>PROJECT_ID</key>
	<string>korebankapp</string>
	<key>STORAGE_BUCKET</key>
	<string>korebankapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614716026578:ios:a9525d6f76d8eb5f</string>
	<key>DATABASE_URL</key>
	<string>https://korebankapp.firebaseio.com</string>
</dict>
</plist>